.variable-options {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

.variable-option {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
}

.option-row {
  margin-bottom: 2%;
}
.select-option {
  margin-top: 1%;
}

.select-text {
  margin-bottom: 1%;
}
