.App {
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  border-radius: 5px;
  background: lightblue;
  color: #3f51b5;
  padding: 7px;
  margin-right: 10px;
}

a {
  color: darkblue;
}
/* override material ui */
button {
  color: #3f51b5;
  background: lightblue !important;
  margin-top: 20px !important;
}

.MuiInput-underline {
  margin-left: 10px;
}

.MuiInputLabel-formControl {
  margin-top: 5px;
  margin-left: 8px;
}

pre {
  white-space: inherit !important;
}
