.App {
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

li {
  border-radius: 5px;
  background: lightblue;
  color: #3f51b5;
  padding: 7px;
}
