body {
  background: ghostwhite;
}
.App {
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  border-radius: 5px;
  background: lightblue;
  color: #3f51b5;
  padding: 7px;
  margin-right: 10px;
}

a {
  color: darkblue;
}

h5 {
  margin-right: 7px;
}

pre {
  white-space: inherit !important;
}

.navigation-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.error-msg {
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
  color: red;
}

/* the styles below override material ui */
button {
  color: #3f51b5;
  background: lightblue !important;
  margin-top: 20px !important;
}

.MuiInput-underline {
  margin-left: 10px;
}

.MuiInputLabel-formControl {
  margin-top: 5px;
  margin-left: 8px;
}

.MuiPopover-paper,
.MuiSelect-selectMenu {
  background: lightblue !important;
}
